<!-- Project tracker header element -->
<pt-header></pt-header>

<!-- Page container -->
<div class="container-fluid">
    <div class="row">
        <pt-navigation></pt-navigation>

        <!-- Main output (all page content goes here) -->
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 pb-5">
            <!-- Router outlet - this is the element which Angular actually tells Angular to insert current route content -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; HPE 2017. All information within this application is strictly confidential.</span>
    </div>
</footer>