<h1>Project List <small>56 total projects</small> <a routerLink='/projects/add' class="btn btn-primary float-right">Add New Project</a></h1>

<p class="text-danger">You clicked on: <strong>{{ message }}</strong></p>

<!-- datatable="ng" [dtOptions]="dtOptions" -->
<table class="table table-striped table-bordered table-responsive table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Domain</th>
        <th>Application(s)</th>
        <th>Accenture PM</th>
        <th>HPE PM</th>
        <th>PGLS</th>
        <th>Warranty Start</th>
        <th>Warranty End</th>
        <th>Technical Go-Live</th>
        <th>Business Go-Live</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Domain</th>
        <th>Application(s)</th>
        <th>Accenture PM</th>
        <th>HPE PM</th>
        <th>PGLS</th>
        <th>Warranty Start</th>
        <th>Warranty End</th>
        <th>Technical Go-Live</th>
        <th>Business Go-Live</th>
    </tr>
    </tfoot>
    <tbody>
    <tr *ngFor="let project of projects" (click)="onSelect(project)">
        <td>{{project.id}}</td>
        <td>{{project.name}}</td>
        <td>{{project.status}}</td>
        <td>{{project.description}}</td>
        <td>DOMAIN</td>
        <td>APPS</td>
        <td>{{project.accenture_pm}}</td>
        <td>{{project.hpe_pm}}</td>
        <td>{{project.post_go_live_support}}</td>
        <td>{{project.warranty_start}}</td>
        <td>{{project.warranty_end}}</td>
        <td>{{project.technical_go_live}}</td>
        <td>{{project.business_go_live}}</td>
    </tr>
    </tbody>
</table>

