<div *ngIf="project">
    <h2>Viewing Project {{ project.nokia_project_id}} - {{ project.name }}</h2>
    <h3>Application(s) Impacted: <span *ngFor="let application of project.applications"
                                       ngbTooltip="{{application.name}}" class="badge badge-primary mr-1">{{application.abbreviation}}</span>
    </h3>

    <section class="row bs-wizard" style="border-bottom:0;">

        <div [class.complete]="project.gating_boards._joinData.gate > -2"
             [class.disabled]="project.gating_boards._joinData.gate < -2"
             [class.active]="project.gating_boards._joinData.gate == -2"
             class="col-sm-2 bs-wizard-step">
            <div class="text-center bs-wizard-stepnum">G-2</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:;" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">G-2</div>
        </div>

        <div [class.complete]="project.gating_boards._joinData.gate > -1"
             [class.disabled]="project.gating_boards._joinData.gate < -1"
             [class.active]="project.gating_boards._joinData.gate == -1"
             class="col-sm-2 bs-wizard-step">
            <div class="text-center bs-wizard-stepnum">G-1</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:;" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">G-1</div>
        </div>

        <div [class.complete]="project.gating_boards._joinData.gate > 3"
             [class.disabled]="project.gating_boards._joinData.gate < 3"
             [class.active]="project.gating_boards._joinData.gate == 3"
             class="col-sm-2 bs-wizard-step"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">G3</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:;" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">G3</div>
        </div>

        <div [class.complete]="project.gating_boards._joinData.gate > 5"
             [class.disabled]="project.gating_boards._joinData.gate < 5"
             [class.active]="project.gating_boards._joinData.gate == 5"
             class="col-sm-2 bs-wizard-step"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">G5</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:;" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">G5</div>
        </div>

        <div [class.complete]="project.gating_boards._joinData.gate > 6"
             [class.disabled]="project.gating_boards._joinData.gate < 6"
             [class.active]="project.gating_boards._joinData.gate == 6"
             class="col-sm-2 bs-wizard-step"><!-- active -->
            <div class="text-center bs-wizard-stepnum">G6</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:;" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">G6</div>
        </div>

        <div [class.complete]="project.gating_boards._joinData.gate > 7"
             [class.disabled]="project.gating_boards._joinData.gate < 7"
             [class.active]="project.gating_boards._joinData.gate == 7"
             class="col-sm-2 bs-wizard-step"><!-- active -->
            <div class="text-center bs-wizard-stepnum">G7</div>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <a href="javascript:;" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">G7</div>
        </div>
    </section>


    <ngb-tabset>
        <ngb-tab id="tab-overview" title="Overview" class="nav-fill nav-justified">
            <template ngbTabContent>


                <div class="card-deck mt-4">

                    <div class="card card-default text-center">
                        <div class="card-block">
                            <h3 class="card-title">{{project.gating_boards.date | amTimeAgo:true}}</h3>
                            <small>until next gate</small>
                        </div>
                    </div>

                    <div class="card card-default text-center">
                        <div class="card-block">
                            <h3 class="card-title">2</h3>
                            <small>Pending Approvals</small>
                        </div>
                    </div>

                    <div class="card card-success card-inverse text-center">
                        <div class="card-block">
                            <h3 class="card-title">0</h3>
                            <small>Outstanding Issues</small>
                        </div>
                    </div>

                </div>


                <div class="row mt-4">

                    <div class="col-sm-3">

                        <div class="card">
                            <div class="card-header">
                                <a (click)="t.select('tab-approvals')">Project Approvals</a>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item list-group-item-success">Blue Planet - Approved</li>
                                <li class="list-group-item list-group-item-success">SRM - Approved</li>
                                <li class="list-group-item list-group-item-warning">eSpares - Waiting</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </template>
        </ngb-tab>
        <ngb-tab id="tab-calendar" title="Calendar">
            <template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                squid.

            </template>
        </ngb-tab>
        <ngb-tab id="tab-risk-log" title="Risk Log">
            <template ngbTabContent>
                <div class="row mt-4">


                    <div class="col-sm-6">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">SAP related issue</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                                <li class="list-group-item">
                                    <input class="form-control form-control-lg" type="text"
                                           placeholder="Enter new risk">
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card">

                            <h3 class="card-header">SAP Related issue</h3>

                            <div class="card-block">
                                <p class="card-text">SAP 12.02 has an issue with ERP EAI integrations and this could be
                                    affected.</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-success btn-block">Resolve Issue</a>
                            </div>
                        </div>
                    </div>


                </div>


            </template>
        </ngb-tab>
        <ngb-tab id="tab-documentation" title="Documentation">
            <template ngbTabContent>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                    retro keffiyeh
                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                    salvia cillum
                    iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </template>
        </ngb-tab>
        <ngb-tab id="tab-approvals" title="Approvals">
            <template ngbTabContent>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro synth
                    master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                    retro keffiyeh
                    dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                    salvia cillum
                    iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </template>
        </ngb-tab>
    </ngb-tabset>

</div>